.related-products {
  margin: 2rem 6rem;
  margin-bottom: 2rem;
  background-color: white;
  overflow: hidden;
}

.related-products__title {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.related-products .slick-slider {
  display: flex;
  align-items: center;
}

.related-products .slick-prev {
  position: relative;
  left: 0;
}

.related-products .slick-prev:before {
  color: black;
}

.related-products .slick-next {
  position: relative;
  right: 0;
}

.related-products .slick-next:before {
  color: black;
}

.slick-list {
  height: 300px;
  overflow: hidden;
}

.slick-slide {
  margin: 8px 20px;
}

.title__container {
  padding: 10px 0 30px 0;
  text-align: center;
}

.text__container {
  padding: 0px;
  margin: 0;
}

.text__content {
  font-size: 24px;
  line-height: 1.3;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.related-card {
  display: block;
  height: 100%;
  padding: 0.75rem;
  background-color: white;
  border-style: none;
  cursor: pointer;
  border-radius: 0.75rem;
  text-decoration: none;
  font-weight: inherit;
}

.related-card:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}

.related__image {
  object-fit: cover;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}

.related__name {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  overflow: hidden;
  color: #38383d;
}

.related__content {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.stars {
  display: flex;
}

.related__space {
  width: 1px;
  height: 0.5rem;
  background-color: #c7c7c7;
}

.related__quantity {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #787878;
}

.related__price {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  color: #38383d;
}

.price__content {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}