.product__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 1rem;
  margin: 1.5rem;
  background-color: white;
  cursor: pointer;
  border-radius: 0.75rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}

.product__link:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
  transform: scale(1.05);
}

.product__image {
  object-fit: cover;
}

.bottom-card {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 12px;
}

.product__name {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  overflow: hidden;
  color: #38383d;
}

.product__content {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.stars {
  display: flex;
}

.product__space {
  width: 1px;
  height: 0.5rem;
  background-color: #c7c7c7;
}

.product__quantity {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #787878;
}

.product__price {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  color: #38383d;
}

.price {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}